<!doctype html>
<html lang="en">

<!-- De aca pa'bajo no tocar -->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CRUD</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

  <!-- De aca pa'rriba no tocar -->

  <!-- De aca pa'bajo barra superior de navegacion-->
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="index.html">Personas</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="viviendasPersonas.html">Viviendas Personas</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="trabajosPersonas.html">Trabajos Personas</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" href="viviendas.html">Vivienda</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="trabajos.html">Trabajos</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="departamentos.html">Departamentos</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="municipios.html">Municipios</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="vehiculos.html">Vehiculos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="soat.html">SOAT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="tecnomecanica.html">Tecnomecanica</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!--De aca pa'rriba barra superior de navegacion-->

  <!-- Inicio contenedor-->

  <div class="container" style="margin-top: 1%;">

    <!-- Boton para agregar nuevo registro -->
    <div class="col">
      <button type="button" class="btn btn-success m-1" data-bs-toggle="modal"
        data-bs-target="#modalNuevoRegistro">Agregar
        nuevo registro</button>
    </div>




    <!--Tabla Datos (Supongo que en esto se trabajará para mostrar) -->
    <div class="table-responsive">

      <table class="table table-bordered" id="tablaDatos">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">ID Municipio</th>
            <th scope="col">Barrio</th>
            <th scope="col">Direccion</th>
            <th scope="col">Estrato</th>
            <th scope="col">Pisos</th>
            <th scope="col">Tipo Vivienda</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <!-- Los datos del JSON serán insertados aquí -->
        </tbody>
      </table>

      <!--Fin de la tabla -->

    </div>


  </div>
  <!--Fin Contenedor -->







  <!-- Modal  (El cuadro con el form para agregar nuevo)-->

  <div class="modal fade" id="modalNuevoRegistro" tabindex="-1" aria-labelledby="modalNuevoRegistroLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modalNuevoRegistroLabel">Nueva Vivienda</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">



          <form id="nuevaVivienda" method="post" action="/agregarvivienda">

            <div class="form-group mb-3">
              <label for="idMunicipio" class="form-label">ID Municipio</label>
              <input type="number" required min="0" class="form-control" id="idMunicipio" name="idMunicipio">
            </div>

            <div class="form-group mb-3">
              <label for="barrio" class="form-label">Barrio</label>
              <input type="text" required class="form-control" id="barrio" name="barrio">
            </div>

            <div class="form-group mb-3">
              <label for="direccion" class="form-label">Direccion</label>
              <input type="text" required class="form-control" id="direccion" name="direccion">
            </div>

            <div class="form-group mb-3">
              <label for="estrato" class="form-label">Estrato</label>
              <input type="number" required class="form-control" id="estrato" name="estrato">
            </div>

            <div class="form-group mb-3">
              <label for="numeroDePisos" class="form-label">Numero De Pisos</label>
              <input type="number" required class="form-control" id="numeroDePisos" name="numeroDePisos">
            </div>

            <div class="form-group mb-3">
              <label for="tipoDeVivienda" class="form-label">Tipo De Vivienda</label>
              <input type="text" required class="form-control" id="tipoDeVivienda" name="tipoDeVivienda">
            </div>

            <div class="form-group mb-3">
              <label for="descripcion" class="form-label">Descripcion</label>
              <input type="text" required class="form-control" id="descripcion" name="descripcion">
            </div>


            <button type="submit" class="btn btn-primary">Agregar</button>
          </form>


        </div>
      </div>
    </div>
  </div>


  <!-- Modal Editar-->

  <div class="modal fade" id="modalEditarRegistro" tabindex="-1" aria-labelledby="modalNuevoRegistroLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modalNuevoRegistroLabel">Editar Vivienda</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">



          <form id="nuevaVivienda" method="post" action="/actualizarvivienda">

            <div class="form-group mb-3">
              <label for="id" class="form-label">ID</label>
              <input type="number" required min="0" readonly class="form-control" id="idMod" name="id" style="background-color: gray;">
            </div>

            <div class="form-group mb-3">
              <label for="idMunicipio" class="form-label">ID Municipio</label>
              <input type="number" required min="0" class="form-control" id="idMunicipioMod" name="id_municipio">
            </div>

            <div class="form-group mb-3">
              <label for="barrio" class="form-label">Barrio</label>
              <input type="text" required class="form-control" id="barrioMod" name="barrio">
            </div>

            <div class="form-group mb-3">
              <label for="direccion" class="form-label">Direccion</label>
              <input type="text" required class="form-control" id="direccionMod" name="direccion">
            </div>

            <div class="form-group mb-3">
              <label for="estrato" class="form-label">Estrato</label>
              <input type="number" required class="form-control" id="estratoMod" name="estrato">
            </div>

            <div class="form-group mb-3">
              <label for="numeroDePisos" class="form-label">Numero De Pisos</label>
              <input type="number" required class="form-control" id="numeroDePisosMod" name="pisos">
            </div>

            <div class="form-group mb-3">
              <label for="tipoDeVivienda" class="form-label">Tipo De Vivienda</label>
              <input type="text" required class="form-control" id="tipoDeViviendaMod" name="tipo_vivienda">
            </div>

            <div class="form-group mb-3">
              <label for="descripcion" class="form-label">Descripcion</label>
              <input type="text" required class="form-control" id="descripcionMod" name="descripcion">
            </div>


            <button type="submit" class="btn btn-primary">Agregar</button>
          </form>


        </div>
      </div>
    </div>
  </div>

  

  

  <script src="./static/data/scripts/scriptVivienda.js"></script>


</body>

</html>